<!--DIRECTIVA ESTRUCTURADA-->
<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title class="title_comp">
            {{product.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{product.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onClick()" [disabled]="product.stock === 0">
            Buy {{product.price | currency:"COP": "COP ":".3"}}
            <mat-icon>add_shopping_cart</mat-icon>  
        </button>

    </mat-card-actions>
</mat-card>